<li draggable="true">
  <div class="list-item">
    <input
      type="checkbox"
      name="{{ task.id }}"
      id="{{ task.id }}"
      (change)="updateTaskStatus()"
      [checked]="checked"
    />

    <span class="custom-checkbox">
      <img src="../../../../assets/icon-check.svg" alt="checked task" />
    </span>
    <label for="{{ task.id }}">{{ task.title }}</label>

    <button (click)="deleteTask()">
      <img src="../../../../assets/icon-cross.svg" alt="delete task" />
    </button>
  </div>

  <span class="list-item-border"></span>
</li>
