.container {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--lighter-bg);
}

.filter {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--medium-text-color);
  margin-left: 1rem;

  position: relative;
  transition: 0.2s ease-in-out all;
}

.filter:hover {
  color: var(--dark-text-color);
}

.filter input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  opacity: 0;
}

.filter input:checked + label {
  color: var(--primary-blue);
}

@media (min-width: 600px) {
  .container {
    width: fit-content;

    position: absolute;
    bottom: 0.2rem;
    left: 14.3rem;
  }
}
