.container {
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--lighter-bg);
}

.content {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
}

.end-list {
  padding: 1.8rem;
  flex-direction: row;
}

.end-list,
.end-list button {
  font-size: 1.4rem;
  color: var(--medium-text-color);
}

.end-list button {
  transition: 0.2s ease-in-out all;
}

.end-list button:hover {
  color: var(--dark-text-color);
}
