<div class="container">
  <ul class="content">
    <li>
      <div class="list-item">
        <input type="checkbox" name="task" id="task-1" />

        <span class="custom-checkbox">
          <img src="../../../../assets/icon-check.svg" alt="checked task" />
        </span>
        <label for="task-1">Complete online JavaScript course</label>

        <button>
          <img src="../../../../assets/icon-cross.svg" alt="delete task" />
        </button>
      </div>

      <span class="list-item-border"></span>
    </li>

    <li>
      <div class="list-item">
        <input type="checkbox" name="task" id="task" />

        <span class="custom-checkbox">
          <img src="../../../../assets/icon-check.svg" alt="checked task" />
        </span>
        <label for="task">Complete online JavaScript course</label>

        <button>
          <img src="../../../../assets/icon-cross.svg" alt="delete task" />
        </button>
      </div>

      <span class="list-item-border"></span>
    </li>

    <li>
      <div class="list-item">
        <input type="checkbox" name="task" id="task" />

        <span class="custom-checkbox">
          <img src="../../../../assets/icon-check.svg" alt="checked task" />
        </span>
        <label for="task">Complete online JavaScript course</label>

        <button>
          <img src="../../../../assets/icon-cross.svg" alt="delete task" />
        </button>
      </div>

      <span class="list-item-border"></span>
    </li>

    <li>
      <div class="list-item">
        <input type="checkbox" name="task" id="task" />

        <span class="custom-checkbox">
          <img src="../../../../assets/icon-check.svg" alt="checked task" />
        </span>
        <label for="task">Complete online JavaScript course</label>

        <button>
          <img src="../../../../assets/icon-cross.svg" alt="delete task" />
        </button>
      </div>

      <span class="list-item-border"></span>
    </li>

    <li>
      <div class="list-item">
        <input type="checkbox" name="task" id="task" />

        <span class="custom-checkbox">
          <img src="../../../../assets/icon-check.svg" alt="checked task" />
        </span>
        <label for="task"
          >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum
          adipisci explicabo facere atque reprehenderit tempore impedit
          doloribus sunt, assumenda nisi!</label
        >

        <button>
          <img src="../../../../assets/icon-cross.svg" alt="delete task" />
        </button>
      </div>

      <span class="list-item-border"></span>
    </li>
  </ul>

  <div class="content end-list">
    <p>0 items left</p>

    <button>Clear Completed</button>
  </div>
</div>
